{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">My Reviews</h2>
                <h5 class="text-muted">Edit review</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'edit_review' product.id order.order_number %}" class="mt-3" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form|crispy }}
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'my_reviews' %}">Cancel</a>
                        <button class="btn btn-black rounded-0 my-2" type="submit">Edit Review</button>
                   
                    </div>                
                </form>
            </div>            
        </div>
    </div>
{% endblock %}
