{% extends "base.html" %}
{% load static %}
{% load plan_tools %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">My Reviews</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-8 col-md-8 col-lg-8 offset-lg-2">
            <p class="text-muted">Reviews</p>
            <div class="order-history table-responsive">
              <table class="table table-sm table-borderless">
                  <tbody>
                    {% for order in orders %}
                    {% for item in order.lineitems.all %}
                      <tr>
                        <td class="col-2 my-1">  {% if item.product.image_url %}
            
                          <img class="w-100" src="{{ item.product.image_url }}" alt="{{ item.product.name }}">
                          {% else %}
                          <img class="w-100" src="https://res.cloudinary.com/dyx1tw86r/image/upload/v1645540372/media/noimage.png" alt="{{ item.product.name }}">
                          {% endif %}

                        </td>
                      <td>{{ item.product.name }}</td>
                      <td>{{ order.date }}</td>
                      <td><a href="{% url 'add_review' item.product.pk %}">Leave review</a></td>
                  </tr>
                  {% endfor %}
                  {% endfor %}
                  </tbody>
              </table>
          
          </div>
        </div>
       
    </div>
    </div>

{% endblock %}