{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">My Reviews</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-8 col-md-8 col-lg-8 offset-lg-2">
            
            <div class="order-history table-responsive">
              <table class="table table-sm table-borderless">
                  <tbody>                  

                    {% for order in orders %}
                    {% for item in order.lineitems.all %}
                    <tr>
                        <td class="col-2 my-1">  {% if item.product.image_url %}
            
                          <img class="w-100" src="{{ item.product.image_url }}" alt="{{ item.product.name }}">
                          {% else %}
                          <img class="w-100" src="https://res.cloudinary.com/dyx1tw86r/image/upload/v1645540372/media/noimage.png" alt="{{ item.product.name }}">
                          {% endif %}

                        </td>
                      <td>{{ item.product.name }} ({{ order.order_number }})</td>
                      <td>{{ order.date }}</td>
                      {% for reviews_completed in review_completed %}
                      {% if reviews_completed.product_id|add:0 == item.product_id and reviews_completed.order_number == order.order_number  %}
                    
                      <td><a href="{% url 'add_review' item.product.id order.order_number %}">Update review</a></td>
                    </tr>
                    {% else %}
                   
                      <td><a href="{% url 'add_review' item.product.id order.order_number %}">Leave review</a></td>
                    </tr>                      {% endif %}
                     {% endfor %}
   
               
                  {% endfor %}
                  {% empty %}
                  You dont have any reviews to leave yet. Make a purchase of a <a href="{% url 'products' %}?category=Plans">plan </a> or <a href="{% url 'products' %}?category=Nutrition,Recovery,Hydration,Attire">merchandise </a> first.

                  {% endfor %}
                  </tbody>
              </table>
          
          </div>
        </div>
       
    </div>
    </div>

{% endblock %}