{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">{{ product.name }} reviews</h2>
                <hr>
            </div>
        </div>
       </div>

        <div class="container">
            <div class="row">
                <div class="col-12">

                    <p><i class="fas fa-star mr-1"></i> {{ review_sum }} out of 5 stars</p> 
                    <p>Out of a total of {{ review_total }} review(s)</p>
                    <hr>
    </div>
                    </div>
                    </div>
  
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                {% for reviews in review %}
                                <p>{{ reviews.user }} - {{ reviews.date }}</p>
                                <p>{{ reviews.rating }} / 5</p>
                                <p>{{ reviews.review }}</p>
                                <hr>
                                {% endfor %}
                </div>
                                </div>
                                <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Back to {{ product.name }}</span>
                                </a>
                                </div>
              
{% endblock %}