{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">My Plans</h2>
                <hr>
                <div class="alert alert-dark" role="alert">
                    <p>Join our <a href="https://www.facebook.com/" target="_blank" rel="noopener">Facebook</a> and <a href="https://twitter.com/" target="_blank" rel="noopener">Twitter</a> channels for lots of positive community support.</p>
                    <p>Check out our <a href="https://www.youtube.com" target="_blank" rel="noopener">YouTube</a> channel for warm up and cool down exercises. Along with our 'no equipment needed' strength sessions you can follow along with at home at your own pace.</p>
                
                </div>  
            </div>
        </div>
        <div class="row">
            
            <div class="col-8 col-md-8 col-lg-8 offset-lg-2">
                          
                                    
                               
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        
                        <tbody>
                            {% if order_items|length > 0 %}
                            {% for order_item in order_items %}

<tr>
    <td>
        {{ order_item.product.name }} - <a href="{% url 'plan_detail' order_item.product.id  %}">View plan</a>
</td>
</tr>
                            {% endfor %} 
                    {% else %}
                    You dont have any plans set up yet. Check out the <a href="{% url 'products' %}?category=Plans">plans </a> to set up your first plan.
                    {% endif %}       
                        </tbody>
                    </table>
                    
                
                </div>
            </div>
        </div>
        </div>
{% endblock %}