{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">My Plans</h2>
                <hr>
                <div class="alert alert-dark" role="alert">
                    <p>Join our <a href="https://www.facebook.com/" target="_blank" rel="noopener">Facebook</a> and <a href="https://twitter.com/" target="_blank" rel="noopener">Twitter</a> channels for lots of positive community support.</p>
                    <p>Check out our <a href="https://www.youtube.com" target="_blank" rel="noopener">YouTube</a> channel for warm up and cool down exercises. Along with our 'no equipment needed' strength sessions you can follow along with at home at your own pace.</p>
                
                </div>  
            </div>
        </div>
        <div class="row">
            
            <div class="col-8 col-md-8 col-lg-8 offset-lg-2">
                          
                                    
                               
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        
                        <tbody>
                            {% for order in orders %}
                           
                            {% for item in order.lineitems.all %}
                            {% if item.product.name in categories|join:", " %}
                          
                            <tr>
                                <td>
                                    {{ item.product.name }} - <a href="{% url 'plan_detail' item.product.id  %}">View plan</a>
                            </td>
                        </tr>
                       
                            {% endif %}
                           
                      
                    {% endfor %} 
                    {% empty %}
                    You dont have any plans set up yet. Check out the <a href="{% url 'products' %}?category=Plans">plans </a> to set up your first plan.
    
                            {% endfor %}
                        </tbody>
                    </table>
                    
                
                </div>
            </div>
        </div>
        </div>
{% endblock %}