{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">{{ distance.friendly_name }} Plan</h2>
            <hr>
        </div>
    </div>
    <div class="alert alert-dark" role="alert">
        <p>Each session should begin with a warm up of a {{ distance.instructions }}. Check out our <a
                href="https://www.youtube.com" target="_blank" rel="noopener">YouTube</a> channel for warm up sessions.
        </p>
        <p>Rest days can be used for cross training (cycling or swimming), walking or complete rest. Check out our <a
                href="https://www.youtube.com" target="_blank" rel="noopener">YouTube</a> channel for 'no equipment
            needed' sessions.</p>

    </div>
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="order-history table-responsive">
                {{ plans }}
                {% for key, value in session_dict.items %}
                WEEK - {{ key }}|

                {% for i in days %}
                {% for x in value %}
                  {% if i|add:0 == x|add:0 %}
                   <p>{% for key, value in daynames.items %}{% if i|add:0 == value %}{{ i }}({{ forloop.counter }}) - {{ key }}{% endif %}{% endfor %}</p>
                  {% else %}
                  {% if forloop.first %}
                  {% if i|add:0 == x|add:0 %}
                  {% else %}
                    <p>{{ i }}({{ forloop.parentloop.counter }}) - Rest day<p>
                        {% endif %} 
                   {% endif %}     
                  {% endif %}
              {% endfor %}
            {% endfor %}



                {% for z in days %}
                {{ z }}
                {% endfor %}
                {% for url in value %}
                DAY - {{ url }}
              {% endfor %}
              {% endfor %}
               
            
                {% for i in duration %}
                <h3>Week {{ i }}</h3>

                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Session</th>
                            <th>Pace</th>
                            <th>Description</th>

                        </tr>
                    </thead>
                    <tbody>





                        {% for z in days %}
                        
                        
                        {% for sessions in session %}
                       
                        {% if sessions.week|add:0 == i %}

                        {% if z == sessions.day|add:0 %}
                        
                        {% for key, value in daynames.items %}
                        {% if sessions.day|add:0 == value %}
                    
                        {% else %}
                
                      
                        {% endif %}
                        {% endfor %} 
                        <tr>
                            <td>
                                {% for key, value in daynames.items %}
                                {% if sessions.day|add:0 == value %}
                                {{key}}
                                {% endif %}
                                {% endfor %} </td>
                            <td>{{ sessions.effort }}</td>
                            <td>{{ sessions.description }}</td>
                        </tr>

                        

                        {% else %}
                        {% ifchanged forloop.parentloop.counter %}
                        
                        {% for key, value in daynames.items %}

                        {% if z|add:0 == value %}
                        <tr>
                            <td>

                                {{key}}
                            </td>
                            <td>-</td>
                            <td>REST</td>
                        </tr>
                        {% endif %}
                        {% endfor %}

                        {% endifchanged %}
                        {% endif %}




                  


                        {% endif %}
                        {% endfor %}
                     
                        {% endfor %}

                    </tbody>
                </table>

                {% endfor %}
            </div>
        </div>
        {% endblock %}